/* Animasi */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeIn-X {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInX {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.login-container {
    margin: 15px;
    animation: fadeIn 1.0s forwards;
}

.side-bar, .announce-container {
    animation: fadeIn-X 0.8s forwards;
}

.announcement, .logo {
    animation: fadeInX 2.5s forwards;
}

.nav-item:hover {
    border-radius: 5px;
    background-color: #d1a000;
}


